<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="dist/img/logo_tb_pharmacy.png" alt="Logo da Empresa">
        </div>
        <div class="footer-contact">
            <h4>Contato</h4>
            <ul>
                <li><strong>E-mail:</strong> contato@tbproduto.com</li>
                <li><strong>Telefone:</strong> (99) 99999-9999</li>
                <li><strong>Endereço:</strong> Rua Xv de novembro, 123 - Guarapuava, PR</li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Redes Sociais</h4>
            <div class="footer-social-icons">
                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                    <img src="dist/img/logo_instagram.png" alt="Instagram">
                </a>
                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                    <img src="dist/img/logo_facebook.png" alt="Facebook">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <p>&copy; 2025 TB Produto. Todos os direitos reservados.</p>
    </div>
</footer>