@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "layouts/header";
@import "layouts/footer";
@import "pages/home";
@import "components/buttons";
@import "components/cards";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}